body {
  background-color: #dceaff;
}

.homebg {
  background-color: #ffffff;
}

.header {
  font-weight: bold;
  color: #e64398;
}

.btn-primary {
  font-weight: bold;
  font-size: 24px;
  color: white;
  background-color: #e64398 !important;
  border-radius: 30px;
  border-color: #e64398 !important;
}

.btn-primary:hover {
  font-weight: bold;
  /* font-size: 24px; The button inherits the font size from btn-primary */
  color: white;
  background-color: #ca3984 !important;
  /* border-radius: 30px; The button inherits the border radius from btn-primary */
  border-color: #ca3984 !important;
}

.btn-secondary {
  font-weight: bold;
  font-size: 24px;
  color: white;
  background-color: #b39bc8 !important;
  border-radius: 30px;
  border-color: #b39bc8 !important;
}

.btn-secondary:hover {
  font-weight: bold;
  font-size: 24px;
  color: white;
  background-color: #9f88b3 !important;
  border-radius: 30px;
  border-color: #9f88b3 !important;
}

.btn-chat {
  font-weight: bold;
  font-size: 23px;
  color: white;
  background-color: #e64398 !important;
  border-radius: 30px;
  border-color: #e64398 !important;
  white-space: nowrap;
}

.btn-chat:hover {
  background-color: #ca3984 !important;
  border-color: #ca3984 !important;
}

.abandon {
  background-color: #da3636 !important;
  border-color: #da3636 !important;
}

.abandon:hover {
  background-color: #bb2b2b !important;
  border-color: #bb2b2b !important;
}

.text-welcome {
  font-weight: bold;
  font-size: 40px;
  color: #9f88b3;
}

.text-matches {
  color: #e64398;
  font-size: 32px;
  font-weight: 600;
  text-align: left;
  width: 210px;
}

.text-search {
  height: 50px;
  font-size: 20px;
  border-radius: 25px;
  text-align: left;
  min-width: 250px;
  display: flex;
}

.talk-bubble {
  margin: 40px;
  display: inline-block;
  position: relative;
  width: 200px;
  height: auto;
  background-color: lightyellow;
}

.tri-right.btm-left:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent lightyellow;
}

.round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

p {
  max-width: 300px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: left;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}
.chat-modal-images {
  height: 200px;
  width: 200px;
  cursor: pointer;
}
@media only screen and (min-width: 450px) {
  p {
    max-width: 400px;
  }
}

@media only screen and (max-width: 470px) {
  .chat-modal-images {
    width: 130px !important;
    height: 130px !important;
  }
}

.chat-message-image {
  border-radius: 5px;
}
.image-container {
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 15px;
  border-radius: 25px;
  position: relative;
  background: #e64398;
}
.sent .image-container {
  background: #e64398;
}
.received .image-container {
  background: #e5e5ea;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #e64398;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

.system p {
  color: grey;
  text-align: center;
  margin: auto;
}
.message .system {
  text-align: center;
}

.chat-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.subtext-received {
  display: flex;
  align-items: center;
  position: relative;
  top: -10px;
  left: 10px;
}

.subtext-sent {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
  top: -10px;
  right: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 5px;
  width: 100%;
  color: white;
}

#signUpDimeImage {
  max-width: 400px;
  width: 60%;
  margin: auto;
  display: block;
}

@media only screen and (min-width: 600px) and (max-width: 960px) {
  #signUpDimeImage {
    width: 100%;
  }
}

@media only screen and (min-width: 960px) {
  #signUpDimeImage {
    max-width: 750px;
    width: 100%;
  }
}

.header-logo-signup {
  width: 300px;
  height: 100%;
}
@media only screen and (max-width: 350px) {
  .header-logo-signup {
    width: 200px;
  }
}

.header-logo {
  width: 250px;
  height: 100%;
}
@media only screen and (max-width: 430px) {
  .header-logo {
    /* width: 100%;
    max-width: 200px; */
    width: 200px;
  }
}

@media only screen and (max-width: 370px) {
  .header-logo {
    /* width: 100%;
    max-width: 200px; */
    width: 150px;
  }
}
@media only screen and (max-width: 515px) {
  .btn-chat {
    font-size: 18px;
    margin: 0 !important;
  }
  .abandon {
    font-size: 15px;
    margin: 0 !important;
  }
}
@media only screen and (max-width: 425px) {
  .btn-chat {
    font-size: 15px;
  }
  .abandon {
    font-size: 13px;
  }
}
@media only screen and (max-width: 340px) {
  .btn-chat {
    font-size: 12px;
  }
  .abandon {
    font-size: 10px;
  }
}

#uploadButton {
  background-color: #b39bc8;
  color: 'white';
}

#home-scrolling {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.home-card {
  display: inline-block;
  width: 200px;
  margin: 5px 5px;
  transition: all 0.3s ease-out;
}

.home-card:hover {
  width: 250px;
  /* transition: all 0.2s ease-in-out; */
}
.home-card:hover .card-image {
  width: 250px;
  object-fit: cover;
  /* height: 200px; */
  transition: all 0.3s ease-out;
}
.home-card:hover .card-text-hidden {
  display: inline;
}
.card-image {
  width: 200px;
  height: 200px;
  background-color: #bad;
  object-fit: cover;
  transition: all 0.3s ease-out;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card-text {
  color: grey;
  font-size: 1rem;
  font-weight: 500;
}
.card-text-hidden {
  color: grey;
  font-size: 1rem;
  font-weight: 500;
  display: none;
}
#no-previous-matches {
  width: 100%;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #e5e5ea;
  border-radius: 10px;
  color: black;
}

#made-match-div {
  text-align: center;
  max-width: 400px;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
  margin-top: 10px;
}
.match-photo-container img {
  object-fit: cover;
}
.chat-match-info {
  font-size: 26px;
  margin-bottom: 5px !important;
}

@font-face {
  font-family: 'FredokaOneTT';
  src: url('FredokaOne-Regular.ttf') format('truetype');
}
.drawer-item span {
  font-family: 'FredokaOneTT';
  font-weight: normal !important;
  /* font-size: 30px !important; */
}
.drawer-item svg {
  font-size: 30px;
  /* margin-top: 4px; */
}

#delete-button {
  background-color: #bb2b2b !important;
}
#delete-button:hover {
  background-color: #bd0f0f !important;
}
