body {
  background-color: #dceaff;
}

.homebg {
  background-color: #ffffff;
}

.btn-primary {
  font-weight: bold;
  font-size: 24px;
  color: white;
  background-color: #e64398 !important;
  border-radius: 30px;
  border-color: #e64398 !important;
}

.btn-primary:hover {
  font-weight: bold;
  /* font-size: 24px; The button inherits the font size from btn-primary */
  color: white;
  background-color: #ca3984 !important;
  /* border-radius: 30px; The button inherits the border radius from btn-primary */
  border-color: #ca3984 !important;
}

.btn-secondary {
  font-weight: bold;
  font-size: 24px;
  color: white;
  background-color: #b39bc8 !important;
  border-radius: 30px;
  border-color: #b39bc8 !important;
}

.btn-secondary:hover {
  font-weight: bold;
  font-size: 24px;
  color: white;
  background-color: #9f88b3 !important;
  border-radius: 30px;
  border-color: #9f88b3 !important;
}

.btn-chat {
  font-weight: bold;
  font-size: 23px;
  color: white;
  background-color: #e64398 !important;
  border-radius: 30px;
  border-color: #e64398 !important;
}

.btn-chat:hover {
  font-weight: bold;
  font-size: 23px;
  color: white;
  background-color: #ca3984 !important;
  border-radius: 30px;
  border-color: #ca3984 !important;
}

.btn-abandon {
  font-weight: bold;
  font-size: 23px;
  color: white;
  background-color: #da3636 !important;
  border-radius: 30px;
  border-color: #da3636 !important;
}

.btn-abandon:hover {
  font-weight: bold;
  font-size: 23px;
  color: white;
  background-color: #bb2b2b !important;
  border-radius: 30px;
  border-color: #bb2b2b !important;
}

.text-welcome {
  font-weight: bold;
  font-size: 40px;
  color: #9f88b3;
}

.text-matches {
  color: #e64398;
  font-size: 32px;
  font-weight: 600;
  text-align: left;
  width: 210px;
}

.text-search {
  height: 50px;
  font-size: 20px;
  border-radius: 25px;
  text-align: left;
  min-width: 250px;
  display: flex;
}
